html {
font: normal 14px 'Helvetica Neue',arial,helvetica,sans-serif;
}


.jt-calculator {
    background: #F7F7F7;
    border-top: 6px solid #215732;
    color: #FFFFFF;
}
.jt-calculator-search {
    background: #5FBB56;
    padding: 1.25em;
}
.jt-calculator-results {
    padding: 1em;
    text-align: center;
}
.jt-calculator h2, .jt-calculator p {
    margin-left: 0;
    text-align: center;
}
.jt-calculator h2 {
    text-transform: uppercase;
    color: #FFFFFF;
}
.jt-calculator p {
    text-transform: uppercase;
    padding: 0 15px;
    color: #FFFFFF;
}
.jt-calculator h4 {
    color: #215732;
    font-weight: 600;
    line-height: 1em;
    margin: 0 0 0.625em;
    text-transform: uppercase;
}
.journey-time-results {
    color: #5FBB56;
    font-size: 4.28571em;
    font-weight: 600;
    line-height: 1em;
}
.journey-time-results-small {
    color: #333333;
    font-size: 75%;
    margin-top: 5px;
}
.journey-time-results-small small {
    font-size: 100%;
}
.jt-calculator fieldset {
    margin: 0;
    border: 0 none;
}
.jt-calculator ol {
    background: none repeat scroll 0 center transparent;
    padding: 0;
}
.jt-calculator li {
    list-style: none outside none;
    clear: left;
    margin: 0 0 0.375em;
    padding: 0;    
}
.jt-calculator select {
    width: 100%;
}